body {
    margin: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;

    background-color: #f2f2f2;
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.main-navigation {
    font-weight: 700;
    color: #333333;

    background-color: #ffffff;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    display: inline-block;
    vertical-align: middle;
    padding: 15px 0;
    color: #333333;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #cacaca;
}

.site-navigation .active {
    color: #766357;
}

.intro-header {
    color: #333333;

    background-color: #6fa1c3;
    background-image: url("../img/intro-background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}


.intro h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 27px;
}

.advantages {
    color: #ffffff;

    background-color: #81b3d2;
}

.advantages h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}

.advantages-list {
    list-style: none;
    color: #333333;
    background-color: #ffffff;
    margin: 0;
}

.advantages-list h4 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    margin: 0;
}

.attractions {
    color: #ffffff;
    background-color: #81b3d2;
}

.attractions h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
}

.attractions-list {
    list-style: none;
    color: #333333;
    background-color: #eeeeee;
    margin: 0;
}

.hotel-search h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.hotel-search {
    font-size: 14px;
    line-height: 24px;
    color: #333333;
}

.button {
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.hotel-search-button {
    width: 568px;
    height: 86px;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    z-index: 2;
    background-color: #766357;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
    background-color: #604e43;
}

.hotel-search-button:active {
    color: rgba(255, 255, 255, 30%);
    background-color: #503e33;
}

.button-submit {
    width: 458px;
    height: 58px;

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-top: 26px;
    background-color: #81b3d2;
}

.button-submit:hover,
.button-submit:focus {
    background-color: #669ec0;
}

.button-submit:active {
    color: rgba(255, 255, 255, 30%);
    background-color: #5496bd;
}

.search-form-text {
	border: 2px solid #f2f2f2;
}
.search-form input:hover {
    background-color: #ebebeb;
 border: 2px solid #ebebeb;
}
.search-form input:focus {
   border: 2px solid #ebebeb;
    background-color: #ffffff;
    outline: 0;
    outline-offset: 0;
}

.search-form-button-minus,
.search-form-button-plus {
	border: 2px solid #f2f2f2;
    width: 38px;
    height: 38px;
    padding: 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #a9a9a9;
    background-color: #f2f2f2;
    border: none;
}

.search-form-button-minus:hover,
.search-form-button-plus:hover,
.search-form-button-minus:focus,
.search-form-button-plus:focus {
	 border: 2px solid #ebebeb;
    color: #000000;
}

.search-form-button-minus:active,
.search-form-button-plus:active {
	 border: 2px solid #ebebeb;
    color: #81b3d2;
}

.search-form-number {
    width: 38px;
    height: 38px;
    padding: 0;
}

.search-form-text {
    width: 346px;
    padding: 9px 10px;
    padding-right: 50px;
}
.search-form-block input {
    color: #000000;
    font-weight: 700;
    background-color: #f2f2f2;

    text-transform: inherit;
    box-sizing: border-box;
}
.search-form-title {
      width: 112px;
}
.search-form-amount .children-title {
	padding-left: 45px;
   box-sizing: border-box;
}

.search-form-text::placeholder,
.search-form-number::placeholder {
    color: #000000;
}

.search-form {
    width: 568px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
    padding: 55px;
    font-weight: 700;
    color: #000000;
    position: absolute;
    background-color: #ffffff;
    top:290px; 
    /* display: none;*/
}
.search-form-block {
	
    position: relative;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 29px;
}

.search-form-number {
    text-align: center;
    border: none;
}

.search-form-block label {
    margin-top: 8px;
    padding-left: 2px;

}

.search-form-calendar {
    position: absolute;
    top: 9px;
    right: 10px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background-color: transparent;
}

.search-form-calendar path {
    fill: #a9a9a9;
}

.search-form-calendar:hover path,
.search-form-calendar:focus path {
    fill: #000000;
}

.search-form-calendar:active path {
    fill: #81b3d2;
}

.search-form-amount {
    display: flex;
    flex-direction: row;
    width: 235px;
}

.footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-social a {
    background: #81b3d2;
}

.social-button {
    display: inline-flex;
    width: 46px;
    height: 48px;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active path {
    fill: rgba(255, 255, 255, 30%);
}

.social-button:active {
    background-color: #5496bd;
}

.button-htmlacademy:hover path,
.button-htmlacademy:focus path {
    fill: #81b3d2;
}

.button-htmlacademy:active path {
    fill: #bdbbbc;
}

.button-htmlacademy-svg {
    padding-top: 7px;
    margin-left: 3px;
}

.footer-contacts a {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.paragraph,
.paragraph p,
.paragraph h3,
.paragraph h4 {
    margin: 0;
}

.filters-form {
    color: #ffffff;

    background-color: #6fa1c3;
    background-image: url("../img/filter-background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    padding: 28px 0 30px 0;
}

.filters-form ul {
    list-style: none;
}

.filters-form legend,
.filters-form-price {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}

.filters-form-checkbox-label {
    font-size: 14px;
    line-height: 21px;
    padding-left: 40px;
    vertical-align: middle;

}

.filters-form-input-text {
    background-color: transparent;
    border: 2px solid #ffffff;
}

.filters-form-interval input {
    font: inherit;
    color: #ffffff;
}

.filters-form-button {

    width: 133px;
    height: 32px;
    background-color: transparent;
    border: 2px solid #ffffff;
}

.filters-form-button:hover,
.filters-form-button:focus {
    color: #000000;
    background-color: #ffffff;
}

.catalog-header ul {
    list-style: none;
}
.catalog-sort-type{
	   font-family: inherit;
    font-size: 12px;
    line-height: 18px;
}
.catalog-sort-type a {
    color: #cacaca;
    text-decoration: underline;
    text-decoration-style: dotted;

}

.catalog-sort-type .active {
    text-decoration:none;
    color: #81b3d2;
}
.catalog-sort-type .active:hover,
.catalog-sort-type .active:focus {
   text-decoration:none;
    color: #81b3d2;
}
.catalog-sort-type a:hover,
.catalog-sort-type a:focus {
    color: #81b3d2;
    text-decoration: underline;
    text-decoration-style: dotted;;
}

.catalog-sort-type a:active {
    color: #000000;

    text-decoration:none;
}

.hotel-name h1 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.hotel-name .name {
    color: #000000;
}

.hotel-name .name:hover,
.hotel-name .name:focus {
    color: #81b3d2;
}

.hotel-name .name:active {
    color: #cacaca;
}



.booking-button {
    padding: 3px 18px;

    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    display: block;

    background-color: #766357;
    color: #fff;
}

.booking-button:hover,
.booking-button:focus {
    background-color: #604e43;
}

.booking-button:active {
    color: rgba(255, 255, 255, 30%);
    background-color: #503e33;
}

.hotel-button {

    padding:3px 18px;

    margin-right: 5px;
    display: block;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;

    background-color: #81b3d2;
}

.hotel-info span {
    display: block;
    margin-bottom: 12px;
}

.hotel-booking span {
    display: block;
    margin-bottom: 12px;
}

.hotel-button:hover,
.hotel-button:focus {
    background-color: #669ec0;
}

.hotel-button:active {
    color: rgba(255, 255, 255, 30%);
    background-color: #5496bd;
}

.stars-rating {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
}

.stars-rating svg {
    padding-left: 5px;
}

/*
body > * {background-color: rgba(255,0,0,0.5);}
body > * > *{background-color: rgba(255,0,255,0.5);}
body > * > * > *  {background-color: rgba(255,255,0,0.5);}
body > * > * > * > *{background-color: rgba(0,255,0,0.5);}
*/
.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

}

.site-navigation {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.main-navigation {
    padding: 0 73px;
}

.site-navigation-left,
.site-navigation-right {

    width: 340px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.main-header {
    position: relative;
}

.main-header-logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}

.intro-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position-y: -55px ;
}

.mask {
    position: absolute;
    bottom: -2px;
}


.intro {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 50px 0;

}

.intro-title,
.intro-text {
    text-align: center;
    width: 575px;

}

.advantages {
    display: flex;
    justify-content: space-between;
}

.advantages-description {
    width: 400px;

    display: flex;

    justify-content: center;
    flex-direction: column;
    text-align: center;

    padding: 0 55px;
}

.advantages-description h3 {
    margin-bottom: 20px;
    margin-top: 15px;
    padding: 0 50px;
}

.advantages-description span {
    margin-bottom: 20px;
}

.advantages-description p {
    line-height: 21px;
    margin-bottom: 30px;
}

.advantages-list {

    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.advantages-list p {
    line-height: 21px;
}

.advantages-item {
    display: flex;

    width: 400px;

    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px 55px 80px 55px;
}

.advantages-item h4,
.advantages-icon {
    margin-bottom: 25px;
}

.advantages-icon p {
    line-height: 21px;
}

.attractions {
    display: flex;
    justify-content: space-between;

}

.attractions-description {
    width: 400px;
    order: 2;
    display: flex;

    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 45px;
}

.attractions-description h3 {
    margin-bottom: 20px;
    margin-top: 15px;
    padding: 0 80px;
}

.attractions-description span {
    margin-bottom: 20px;
}

.attractions-description p {
    line-height: 21px;
    margin-bottom: 30px;
}

.attractions-list {

    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.attractions-item {


    display: flex;

    width: 400px;

    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 45px 75px 60px 75px;
}

.attractions-item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 25px;
    padding: 0 50px;
}

.attractions-item span {
    margin-bottom: 18px;
}

.attractions-item p {
    line-height: 21px;
}

.hotel-search {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
position: relative;
}

.hotel-search h2,
.hotel-search p {
    width: 575px;
    margin: 0;
    text-align: center;
}

.hotel-search h2 {
    padding-bottom: 25px;
}

.hotel-search p {
    padding-bottom: 50px;
}

.social-icon-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.filters-form fieldset {
    padding: 0;
}

.catalog-header {
    padding: 17px 72px 14px 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #e5e5e5;
}

.catalog-result {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.catalog-sort-text,
.catalog-sort-type-list {
    padding: 0;
    margin: 0;
}

.catalog-result-wrapper {
    margin-right: 50px;
}

.catalog-sort-type-list {
    display: flex;
    flex-direction: row;
}

.catalog-sort-dir {
    width: 40px;
    margin-left: auto;
}

.catalog-sort-dir .catalog-sort-dir-item:first-child {
    margin-right: 10px;

}

.catalog-sort-dir-item path {
    fill: #cacaca;
}

.catalog-sort-dir-item:hover path,
.catalog-sort-dir-item:focus path {
    fill: #000000;
}

.catalog-sort-dir-item:active path {
    fill: #81b3d2;
}
.catalog-sort-dir .active path {
    fill: #81b3d2;
}
.active:hover path,
.active:focus path {
    fill:#81b3d2;
}


.catalog-sort-text {
    margin-right: 40px;
}

/*.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}*/
.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.filters-form-input input[type="checkbox"] {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.site-navigation li:nth-child(2) {
    margin-right: 240px;
}

.site-navigation li:nth-child(3) {
    margin-right: 15px;
}

.filters-form .positioner {
    /* padding: 25px 65px; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /*align-items: center;*/
}

.filters-form-column-infro,
.filters-form-column-type {
    padding: 0;
    margin: 0;
     width: 255px;

}

.filters-container legend {
    margin-bottom: 24px;
}

.filters-form-input {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.filters-form-input:last-child {
    margin-bottom: 0;
}

.filters-form-column-price {
    width: 330px;
}

.filters-form-wrappper {
    padding: 0;
    margin: 0;
}

.filters-container {
    width: 525px;
    display: flex;

    flex-direction: row;

}

.filters-container fieldset {
    border: 0 none;
}

.catalog-sort-type {
    display: flex;
    flex-direction: row;
}

.catalog-sort-type-list {
    width: 240px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.catalog-wrapper {

    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.positioner {
    padding: 0px 72px;
}

.catalog-sort-dir {
    display: flex;

    flex-direction: row;
}

.hotel-image {

    margin: 0;
}

.hotel-name h1 {
    padding-bottom: 5px;
    margin: 0;
}

.hotel {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e5e5e5;
    padding: 25px 72px 22px 72px;
}

.hotel-image {
    margin-right: 30px;
    margin-top: 5px;
}

.hotel-description {
    display: flex;
    flex-direction: row;

}

.hotel-rating {
    margin-left: auto;
}

.hotel-rating span {
    background-color: #f2f2f2;
    display: block;
    padding: 3px 10px;
}

.footer {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    margin-top: -120px;
    bottom: 0px;
    opacity: 0.9;
    background-color: #ffffff;

    padding: 32px 0;

}

.main-footer-wrapper {

    display: flex;
    justify-content: space-around;
    margin: 0;

    padding: 33px 0 35px 0;
}

.footer-contacts,
.footer-social,
.footer-copyright {
    display: flex;

    width: 400px;

    justify-content: center;

    align-items: center;
    text-align: center;
    flex-direction: row;
}

.footer-copyright span {
    margin-right: 5px;
}

/* ползунки */

.filter-range {
    width: 320px;
    
    color: #ffffff;
    text-transform: uppercase;
}

.filter-range-title {
    margin-bottom: 9px;

    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;

    height: 36px;
    margin-bottom: 20px;

    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;

    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    transform: scale(1.25);

}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;

    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;

    background: #ffffff;
}

/* ползунки закончились
.filters-form-input {
  position: relative;
}
.filters-form-input::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 4px;
 left:4px;
  bottom:8px;
  background-color: white;
}
.filters-form-input::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px; 
  left:7px;
  bottom:11px;
  background-color: white;
}
.filters-form-input::before {
  transform: rotate(45deg);
}

.filters-form-input::after {
  transform: rotate(-45deg);
}*/
.filters-form-checkbox-label {
    position: relative;
}

.filters-form-checkbox-label::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");

    background-repeat: no-repeat;
}

.filters-form-checkbox:checked~.filters-form-checkbox-label::before {
    background-image: url("../img/checkbox-on.svg");
}

.filters-form-checkbox:disabled~.filters-form-checkbox-label::before {

    opacity: 0.3;
}
 @keyframes bounce {
 0% { transform: translateY(-100px); }
 30% { transform: translateY(-30px); }
 90% { transform: translateY(-5px); }
 100% { transform: translateY(0); }
 } 
.modal{
	display: none; 
	
}
 .modal-show {

 animation-name: bounce;
 animation-duration: 0.6s;
 } 

